/* Write your code here. */
.faq-item {
  border: 1px solid #d7dae6;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  list-style-type: none;
}

.question-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.question {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
}

.answer {
  color: #9aa5b1;
  font-family: 'Roboto';
  font-size: 16px;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.image {
  width: 20px;
  height: 20px;
}

.horizontal-line {
  border: 1px solid #e4e7eb;
}
